<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757214235724-bigk9okget88oem1bb14vfg5bnajsu54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757214235724-bigk9okget88oem1bb14vfg5bnajsu54</string>
	<key>API_KEY</key>
	<string>AIzaSyBC19sR7AWSzNcoJa8itwxa_HW-3TZ-i3U</string>
	<key>GCM_SENDER_ID</key>
	<string>757214235724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todolist-eb62c</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-eb62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757214235724:ios:9c39d97171da023bd4f8e9</string>
</dict>
</plist>